* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: white !important;
  font-weight: bold;
}

.bg-light {
  background-color: #0f3138 !important;
}
.login {
  background-image: url(../img/test.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 94vh;
}
.overlay-login{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay-login h2 {
  color: azure;
}
.form {
  width: 50%;
  margin: auto;
}
.form .input_form {
  margin: 50px 0;
}
.form .input_form input {
  padding: 15px;
}
.form .form-check {
  display: inline-block;
  margin: 20px 40px 20px 0px;
  color: beige;
  font-size: 18px;
  padding-left: 90px;
}

.button_form {
  margin: 30px;
  text-align: center;
}
.button_form button {
  margin: auto;
  padding: 15px;
  font-size: 20px;
  width: 180px;
}

/*****************************************/
.record .user {
  padding: 10px;
  font-size: 20px;
}
.record .user span {
  color: red;
}
.record .row {
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
}

.record .userData {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.record .dise {
  padding: 10px;
  font-size: 20px;
}
.record .dise input {
  display: inline-block;
  margin: 20px;
}
/**************/
.icon {
  color: red;
}
.alarm p {
  padding: 20px;
  margin: 20px;
  font-size: 20px;
}
.alarm .danger {
  font-size: 30px;
  color: red;
}

.button_form button {
  background-color: #0f3138 !important;
  border: none;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-radius: 30px !important;
  margin-bottom: 10px;
}
form input[type='text'],
form input[type='password'] {
  border-radius: 30px !important;
  font-size: 18px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  width: 90% !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
}


.check-box {
  width: 90%;
  text-align: center;
}